<!DOCTYPE html>
<html>
<head><title>{% block title %}Choose your term</title>{% endblock%}</head>
<body>

<h1>{{ room.name }}</h1>

{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}
    {% if room.terms.all %}
        <table border="0">
        <tr><td><b>Date</b></td>
            <td><b>Time</b></td>
            <td><b>Choose your hours</b></td>
        </tr>

        {% for term in room.terms.all %}

        <tr><td>{{term.date}}</td>
            <td>{{term.begin_time}} - {{term.end_time}}</td>
            <td><form action="{% url 'a:make_reservation' room.id term.id %}"
                      method="POST">
                {% csrf_token %}
                From:<input type="time" name="begin_time">
                to:<input type="time" name="end_time">
                <input type="submit" value="Reserve">
                </form>
            </td>
        </tr>

        {% endfor %}
         </table>

    {% else %}

    There are no terms available.
    <a href="{% url 'a:list' %}">Choose a different room.</a>

    {% endif %}

    <hr>
    {% if user.is_authenticated %}
        <p>You are logged in as: {{ user.username }}<br>
           <a href="{% url 'a:logout' %}">Log out</a></p>
    {% endif %}


{% endif %}


</body>
</html>

