<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--ajax-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Choose your term</title>{% endblock%}

</head>
<body>
    Beware: you can reserve terms from one day at a time.
    If you open a new date while on a different one
    If you open a new date while on a different one
    you will lose your previous choices.
    <h1>{{ room.name }}</h1>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}


    <div id="chosenCounter">
        You have chosen {{ counter }} hour(s) so far<br><br>
    </div>

    {% if room.terms.all %}

        {% regroup room.terms.all by date as terms_list %}

        <div class="panel-group" id="accordion">

        {% for date in terms_list %}

        {% with forloop.counter|stringformat:"s" as id %}
        {% with "collapse"|add:id as collapse_id %}
        {% with "#collapse"|add:id as href_collapse %}


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" >

                        Date: {{ date.grouper }}
                        (
                            {% for item in date.list %}
                                {{item.begin_time.hour}}-{{item.end_time.hour}}
                            {% endfor %}
                        )

                        </a>
                    </h4>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="btn-group" data-toggle="buttons">

                            Choose from available hours and click on Reserve: <br><br>
                            {% for item in date.list %}
                                {% for hour in item.hours %}

                                <label class="btn btn-primary btn-hour">
                                <input type="checkbox" name="checkboxes[]" id="{{item.date}}{{ hour }}" value="{{ item.date }}"> {{ hour }} - {{ hour|add:"1" }}
                                </label>


                                {% endfor %}
                                <br><br>
                            {% endfor %}


                        </div>
                    <br><br>
                    <input id="reserve{{ date.grouper }}{{room.id}}" class="btn btn-default btn-large btn-reserve" value="Reserve">

                    </div>
                </div>
            </div>


        {% endwith %}
        {% endwith %}
        {% endwith %}

        {% endfor %}

        </div>

        {% else %}

        There are no terms available.

        {% endif %}

        <hr>
        {% if user.is_authenticated %}
            <p>You are logged in as: {{ user.username }}<br>
                <a href="{% url 'a:logout' %}">Log out</a></p>
        {% endif %}


    {% endif %}


<script>

var count = 0;

$(".btn-group :checkbox").change(function(e) {
    e.preventDefault();
    if (this.checked) {
        count += 1;
    }
    else {
        count -= 1;
    }
    $("#chosenCounter").html("You have chosen " + count + " hour(s) so far <br><br>");
});

$(".panel-heading").on('click',function() {
    $('input[type=checkbox]').each(function(i)
    {
        if (this.checked) {
            $(".btn-group label").eq(i).button('toggle');
        }
    });
});

$(".btn-reserve").click(function(e) {
        e.preventDefault();
        var hours = [];
        var date;
        var room_id;

        $(".btn-group :checked").each(function() {
            hours.push(this.id.substring(10));
        });
        //console.log({'h':hours.toString()});
        //room_id = $("#main_form").name
        console.log('room: ' + room_id)
        date = this.id.substring(7,17)
        room_id = this.id.substring(17)
        console.log('id: ' + this.id)
        console.log('hours: ' + hours)
        console.log('date: ' + date)

        console.log('dla detail: ' + csrftoken);
        var jqxhr = $.ajax(
                room_id + "/make_reservation",
                //"make_reservation",
                {
                type: "POST",
                //data: {'hours': '['+hours.toString()+']', 'room_id': room_id, 'date': my_date }
                data: {'hours': hours, 'room_id': room_id, 'date': date,
                'csrfmiddlewaretoken': csrftoken}

        })
        .done(function(data) {
            console.log( "success" );
            $("#modalContent").html(data);
            count = 0;
            })
        .fail(function() {
            console.log( "error" );
            alert("We are sorry but i is impossible to make the reservation you wanted.")
            })
        .always(function() {
            console.log( "complete" );
            });

});


</script>

</body>
</html>

