<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--ajax-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <style type="text/css">
    /*calosc stylow*/

    .btn-room {
        width: 7em;
    }

    td {
        padding: 10px;
    }

    </style>

    <title>{% block title %}Main</title>{% endblock%}

    {% load staticfiles %}
    <script src="{% static 'jquery.min.js' %}"></script>
    {% load staticfiles %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>






</head>

<body>


{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <hr><br>
{% endif %}


<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Available dates</h4>
      </div>
      <div id="modalContent" class="modal-body">
      this content will be loaded by ajax
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!-- loading icon -->
<div id='loadingmessage' style='display:none'>
  <img src="{% static 'ajax-loader.gif' %}"/>
</div>

<div class="main_div">
  <table align="center">
    <tr>
      <td>
          Rooms with their capacities: <br><br>
          <table border="0">
            <tr><td><b>Room</b></td>
                <td><b>Capacity</b></td>
            </tr>

            {% for room in queryset %}
            <tr><td>
                <button id="{{room.id}}" class="btn btn-primary btn-lg btn-room" data-toggle="modal" data-target="#myModal">
                {{ room.name }}
                </button>
                </td>
                <td>{{room.capacity}}</td>
            </tr>
            {% endfor %}
          </table>

          <div class="pagination">
            <span class="step-links">
                {% if queryset.has_previous %}
                    <a href="?page={{ queryset.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                </span>

                {% if queryset.has_next %}
                    <a href="?page={{ queryset.next_page_number }}">next</a>
                {% endif %}
            </span>
          </div>
      </td>
      <td align="right">

        <form action="{% url 'a:list' %}" id="form_order" method="POST">
            {% csrf_token %}
            Search
            <input type="text" name="keyword">
            in description or name. <br>
            Capacity from:
            <input type="number" name="min_capacity">
            to:
            <input type="number" name="max_capacity">
            <br><br>

            Required equipment:<br>
            <input type="checkbox" name="projector"> Projector<br>
            <input type="checkbox" name="whiteboard"> Whiteboard<br>
            <input type="checkbox" name="blackboard"> Blackboard<br>
            <input type="checkbox" name="scanner"> Scanner<br>
            <input type="checkbox" name="printer"> Printer<br>

            <input type="submit" class="btn btn-large" value="Search">
            <br><br><br>
        </form>

        <select name="order" form="form_order" onchange="this.form.submit()">
            <option value="'0'">Choose order of display</option>
            <option value="alph">A-Z</option>
            <option value="alph_inv">Z-A</option>
            <option value="cap">by capacity ascending</option>
            <option value="cap_inv">by capacity descending</option>
        </select><br><br>
      </td>
    </tr>
  </table>
</div>

<br><br>

<hr>
{% block content %}
    <a href="{% url 'a:list' %}">Go back to the beginning of the search</a>
{% endblock %}

{% if user.is_authenticated %}
    <p>You are logged in as: {{ user.username }}<br>
       <a href="{% url 'a:logout' %}">Log out</a></p>
{% endif %}


<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            console.log("A");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(".btn-room").click(function(e) {
    e.preventDefault()
    id = $(this).attr('id')

    url = "/a/" + id + "/"

    $('#loadingmessage').show();

    console.log('token dla list: ' + csrftoken);

    var jqxhr = $.ajax(url, {type:"GET",
        data: {'room_id': id} } )
    .done(function(data) {
        console.log( "success" );
        $("#modalContent").html(data);
        $('#loadingmessage').hide();
        })
    .fail(function() {
        console.log( "error" );
        })
    .always(function() {
        console.log( "complete" );
    });
});



    </script>

<!-- koniec skryptu z Ciebiery-->




</body>
</html>




