<!DOCTYPE html>

<html lang="en" manifest="cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--ajax-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
    /*calosc stylow*/

    .btn-room {
        width: 7em;
    }

    td {
        padding: 10px;
    }

    </style>

    <title>Reserve your room now!</title>

    <script src="jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>


</head>

<body>


{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <hr><br>
{% endif %}


<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Available dates</h4>
      </div>
      <div id="modalContent" class="modal-body">
        This content will be loaded on the choice of the user.
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>


<div id='loadingmessage' style='display:none'>
  <img src="ajax-loader"/>
</div>

<div class="main">

  <table align="center">
        <tr>
        <td>
        Rooms with their capacities : <br><br>
            <div id="list">
                This content will be loaded when AJAX has fetched the database
            </div>

          <div class="pagination">
            <span class="step-links">
                {% if queryset.has_previous %}
                    <a href="?page={{ queryset.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                </span>

                {% if queryset.has_next %}
                    <a href="?page={{ queryset.next_page_number }}">next</a>
                {% endif %}
            </span>
          </div>
      </td>
      <td align="right">

        <form action="" id="searcher" method="POST">
            Search
            <input type="text" name="keyword">
            in description or name. <br>
            Capacity from:
            <input type="number" name="min_capacity">
            to:
            <input type="number" name="max_capacity">
            <br><br>

            Required equipment:<br>
            <input type="checkbox" name="projector"> Projector<br>
            <input type="checkbox" name="whiteboard"> Whiteboard<br>
            <input type="checkbox" name="blackboard"> Blackboard<br>
            <input type="checkbox" name="scanner"> Scanner<br>
            <input type="checkbox" name="printer"> Printer<br>

            <input type="button" class="btn btn-large" value="Search" onclick="displayResults(this.form)">
            <br><br><br>
        </form>

        <form action="" id="form_order" method="POST">
        <select name="order" form="form_order" id="select_id" onchange="changeOrder(this.form)">
            <option value="'0'">Choose order of display</option>
            <option value="alph">A-Z</option>
            <option value="alph_inv">Z-A</option>
            <option value="cap">by capacity ascending</option>
            <option value="cap_inv">by capacity descending</option>
        </select><br><br>
        </form>
      </td>
    </tr>
  </table>
</div>

<br><br>


{% if user.is_authenticated %}
    <p>You are logged in as: {{ user.username }}<br>
       <a href="{% url 'a:logout' %}">Log out</a></p>
{% endif %}


<script>

var rooms = [];
var terms = [];
var equip = [];
var boards = [];
var currentRooms = [];
var count = 0;


function getModalContent(id) {
    name = "";
    for (var i = 0; i < rooms.length; i++){
        if (rooms[i].id == id) {
            name += rooms[i].name;
            break;
        }
    }
    data = "";
    data += "Beware: you can reserve terms from one day at a time." +
            "If you open a new date while on a different one" +
            "If you open a new date while on a different one" +
            "you will lose your previous choices." +
            "<h1>" + name + "</h1>" +
            "<div id='chosenCounter'>" +
            "You have chosen " + count + " hour(s) so far<br><br>" +
            "</div>"
    thisTerms = [];
    //iteruje po pokojach
    for (var i = 0; i < rooms.length; i++) {
        if (rooms[i].id == id) {
            //iteruje po terminach zwiazanych z pokojami
            for (var j = 0; j < rooms[i].terms.length; j++) {
                //szukam id terminu w tabeli terminow
                for (var k = 0; k < terms.length; k++) {
                    if (terms[k].id == rooms[i].terms[j]) {
                        thisTerms.push(terms[k]);
                        break;
                    }
                }
            }
        }
    }
    if (thisTerms.length > 0) {
        dates = [];
        for (var i = 0 ; i < thisTerms.length; i++) {
             if (dates.indexOf(thisTerms[i].date) == -1) {
                dates.push(thisTerms[i].date);
            }
        }

        console.log(dates);

        data += '<div class="panel-group" id="accordion">';
        for (var i = 0 ; i < dates.length; i++) {
            hours = [];
            data += '<div class="panel panel-default">' +
                        '<div class="panel-heading">' +
                        '<h4 class="panel-title">' +
                        '<a data-toggle="collapse" data-parent="#accordion" href="#collapse' + i + '" onclick="clearCheckboxes()">' +
                        'Date: ' + dates[i];

            for (var j = 0; j < thisTerms.length; j++) {
                if (thisTerms[j].date == dates[i]) {
                    begin = parseInt(thisTerms[j].begin.substring(0,2));
                    end = thisTerms[j].end.substring(0,2);
                    data += " (" + begin + "-" + end + ")";
                    for (var k = begin; k <= end; k++) {
                        hours.push(k);
                    }
                }
            }

            data +=     '</a>' +
                        '</h4>' +
                        '</div>' +
                        '<div id="collapse' + i + '" class="panel-collapse collapse">' +
                            '<div class="panel-body">' +
                                '<div class="btn-group" data-toggle="buttons">' +
                                'Choose from available hours and click on Reserve: <br><br>';

            for (var j = 0; j < hours.length; j++) {
                data += '<label class="btn btn-primary btn-hour">' +
                        '<input type="checkbox" name="checkboxes[]" id="' + dates[i] + hours[j] + '" onchange="hourChosen(this)" value="' + dates[i] + '">' +
                        hours[j] + "-" + (hours[j]+1) +
                        '</label>';
            }
            data += '<br><br>' +
                    '</div>' +
                    '<br><br>' +
                    '<input id="reserve' + dates[i] + id + '" class="btn btn-default btn-large btn-reserve" value="Reserve" onclick="reserve(this)">' +
                    '</div>' +
                    '</div>' +
                    '</div>';

        }
        data += '</div>';
    }
    else {
        data += "There are no terms available.";
    }
    return data;
}


function lookFor(name, items) {
    //TODO: mozna by to bylo zrobic efektywniej..
    tmp = [];
    for (var i = 0; i < items.length; i++){
        added = 0;
        equipment = items[i].equipment;
        console.log(equipment);
        for (var j = 0; j < equipment.length; j++){
            id = equipment[j];
            for (var k = 0; k < equip.length; k++) {
                console.log(equip);
                if (id == equip[k].id && equip[k].type == name) {
                    tmp.push(items[i]);
                    added = 0;
                    break;
                }
            }
            if (added) break;
        }
    }
    items = tmp.slice();
    return items;
}

function lookForBoard(name, items) {
    //TODO: mozna by to bylo zrobic efektywniej..
    tmp = [];
    for (var i = 0; i < items.length; i++){
        added = 0;
        thisBoards = items[i].boards;
        for (var j = 0; j < thisBoards.length; j++){
            id = thisBoards[j];
            for (var k = 0; k < boards.length; k++) {
                if (id == boards[k].id && boards[k].type == name) {
                    tmp.push(items[i]);
                    added = 1;
                    break;
                }
            }
            if (added) break;
        }
    }
    items = tmp.slice();
    return items;
}



function displayResults(form) {
    var items = rooms.slice();
    var tmp = [];
    if (form.keyword.value != "") {
        tmp = [];
        for (var i = 0; i < items.length; i++){
            if (items[i].description.indexOf(form.keyword.value) > -1
                 || items[i].name.indexOf(form.keyword.value) > -1) {
                tmp.push(items[i]);
            }
        }
        items = tmp.slice();
    }
    if (form.min_capacity.value != "") {
        tmp = [];
        for (var i = 0; i < items.length; i++){
            if (items[i].capacity >= form.min_capacity.value) {
                tmp.push(items[i]);
            }
        }
        items = tmp.slice();
    }
    if (form.max_capacity.value != "") {
        tmp = [];
        for (var i = 0; i < items.length; i++){
            if (items[i].capacity <= form.max_capacity.value) {
                tmp.push(items[i]);
            }
        }
        items = tmp.slice();
    }
    if (form.projector.checked)
        items = lookFor('projector', items);
    if (form.whiteboard.checked)
        items = lookForBoard('whiteboard', items);
    if (form.blackboard.checked)
        items = lookForBoard('blackboard', items);
    if (form.scanner.checked)
        items = lookFor('scanner', items);
    if (form.printer.checked)
        items = lookFor('printer', items);

    loadRoomList(items);
}


function changeOrder(form) {
    //TODO: jeszcze nie dziala
    items = currentRooms;
    var order = document.getElementById("select_id").selectedIndex;
    if (order == 1) {//'alph'
        console.log("wszedl do srodka");
        items.sort(function(a,b) {
            if (a.name < b.name)
                return a-b;
            else
                return b-a;
        });
    }
    else if (order == 2) //'alph_inv'
        ;//queryset = queryset.order_by('name').reverse()
    else if (order == 3) //'cap'
        ;//queryset = queryset.order_by('capacity')
    else if (order == 4) //'cap_inv'
        ;//queryset = queryset.order_by('capacity').reverse()

    loadRoomList(items);

}

function setModalContent(id) {
    console.log("wybrano pokoj o id " + id);
    url = "/a/" + id + "/";
    count = 0;
    data = getModalContent(id);
    $("#modalContent").html(data);
}



function Term(id, date, begin, end) {
    this.id = id;
	this.date = date;
	this.begin = begin;
	this.end = end;

	this.toString = function() {
		return this.date + ' ' + this.begin + ' - ' + this.end;
	};

}

function Equipment(id, type, name) {
    this.id = id;
	this.type = type;
	this.name = name;
	
	this.toString = function() {
		return this.type + ": " + this.name;
	}
}

function Board(id, type, name) {
	this.id = id;
    this.type = type;
	this.name = name;

	this.toString = function() {
		return this.type + ": " + this.name;
	}
}

function Room(id, name, capacity, description, terms, equipment, boards) {
	this.id = id;
    this.name = name;
	this.capacity = capacity;
	this.description = description;
	this.terms = terms;
	this.equipment = equipment;
	this.boards = boards;

	this.toString = function() {
		return this.name;
	}
}

function getRooms(url) {
    var parsedData;
    var jqxhr = $.ajax(
        url,
        {
            type:"GET",
            data: {}
        })
    .done(function(data) {
        console.log(url);
        console.log('before parsing: ' + data);
        parsedData = JSON.parse(data);
        console.log(parsedData);
        for (var i = 0; i < parsedData.length; i++) {
            var item = parsedData[i];
            var r = new Room(item.pk, item.fields.name, item.fields.capacity,
                    item.fields.description, item.fields.terms, item.fields.equipment_items, item.fields.boards);
            rooms.push(r);
        }
        localStorage.removeItem('rooms');
        localStorage.setItem('rooms', JSON.stringify(rooms));
        console.log('rooms: ' + rooms);
        })

    .fail(function() {
        console.log( "cannot getRooms with ajax -> localStorage" );
        if (localStorage.getItem('rooms') == 'undefined' || localStorage.getItem('rooms') == null) {
            console.log("Nie ma nic w localStorage");
            rooms = [];
        }
        else rooms = JSON.parse(localStorage.getItem('rooms'));
        })
}

function getTerms(url) {

    var parsedData;
    var jqxhr = $.ajax(
        url,
        {
            type:"GET",
            data: {}
        })
    .done(function(data) {
        console.log(url);
        parsedData = JSON.parse(data);
        console.log(parsedData);
        })
    .fail(function() {
        console.log( "cannot getTerms with ajax -> localStorage" );
        if (localStorage.getItem('terms') == 'undefined' || localStorage.getItem('terms') == null) {
            console.log("Nie ma nic w localStorage");
            terms = [];
        }
        else {
            terms = JSON.parse(localStorage.getItem('terms'));
            console.log('terms: ' + terms);
        }
        })
    .success(function() {
        console.log( "complete" );
        for (var i = 0; i < parsedData.length; i++) {
            var item = parsedData[i];
            var t = new Term(item.pk, item.fields.date, item.fields.begin_time, item.fields.end_time);
            terms.push(t);
        }
        localStorage.removeItem('terms');
        localStorage.setItem('terms', JSON.stringify(terms));
        console.log('terms: ' + terms);
    });
}


function getBoards(url) {
    var parsedData;
    var jqxhr = $.ajax(
        url,
        {
            type:"GET",
            data: {}
        })
    .done(function(data) {
        console.log(url);
        parsedData = JSON.parse(data);
        console.log(parsedData);
        })
    .fail(function() {
        console.log( "cannot getBoards with ajax -> localStorage" );
        if (localStorage.getItem('boards') == 'undefined' || localStorage.getItem('boards') == null) {
            console.log("Nie ma nic w localStorage");
            boards = [];
        }
        else {
            boards = JSON.parse(localStorage.getItem('boards'));
            console.log('boards: ' + boards);
        }
        })
    .success(function() {
        console.log( "complete" );
        for (var i = 0; i < parsedData.length; i++) {
            var item = parsedData[i];
            var b = new Board(item.pk, item.fields.type, item.fields.name);
            boards.push(b);
        }
        localStorage.removeItem('boards');
        localStorage.setItem('boards', JSON.stringify(boards));
        console.log('boards: ' + boards);
    });
}


function getEquip(url) {
    var parsedData;
    var jqxhr = $.ajax(
        url,
        {
            type:"GET",
            data: {}
        })
    .done(function(data) {
        console.log(url);
        parsedData = JSON.parse(data);
        console.log(parsedData);
        })
    .fail(function() {
        console.log( "cannot getEquip with ajax -> localStorage" );
        if (localStorage.getItem('equipment') == 'undefined' || localStorage.getItem('equipment') == null) {
            console.log("Nie ma nic w localStorage");
            equip = [];
        }
        else {
            equip = JSON.parse(localStorage.getItem('equipment'));
            console.log('equipment: ' + equip);
        }
        })
    .success(function() {
        console.log( "complete" );
        for (var i = 0; i < parsedData.length; i++) {
            var item = parsedData[i];
            var e = new Equipment(item.pk, item.fields.type, item.fields.name);
            equip.push(e);
        }
        localStorage.removeItem('equipment');
        localStorage.setItem('equipment', JSON.stringify(equip));
        console.log('equipment: ' + equip);
    });
}

function loadRoomList(items) {
    var list;
    var onPage = 4; // TODO: paginator albo przez tego plug-ina
    var counter = 0;
    list = "<table border='0'>" +
            "<tr><td><b>Room</b></td>" +
                "<td><b>Capacity</b></td>" +
            "</tr>";
    for (var i = 0; i < items.length; i++){
        list += "<tr><td>" +
                "<button id=" + items[i].id + ' class="btn btn-primary btn-lg btn-room" data-toggle="modal" data-target="#myModal" onclick="setModalContent(this.id)">' +
                items[i].name +
                "</button>" +
                "</td>" +
                "<td>" + items[i].capacity + "</td></tr>";
    }
    list += "</table>";
    currentRooms = items.slice();
    $('#list').html(list);
}

function fetchDatabase() {
    //sciaganie i obrobka danych
    getTerms("/a/database/terms");
    getEquip("/a/database/equip");
    getBoards("/a/database/boards");
    getRooms("/a/database/rooms");
}


$(document).ready(function () {
	console.log("ready");
	$('#loadingmessage').show();
	console.log("ajax will try to fetch database");
    fetchDatabase();

    //czekam az skonczy ajaxa
    $(document).ajaxComplete(function() { //uwaga, bo sie zalacza za kazdym razem, kiedy skonczy sie ajax, a wiec
        //zadziala tylko wtedy, gdy tylko w 1. miejscu bede stosowac ajax (czyli tak jak w zalozeniu)
        console.log("ajax completed");
        //TODO: uporac sie z gifem
        $('#loadingmessage').hide();
        loadRoomList(rooms);
    })
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            console.log("A");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function hourChosen(button){
    if (button.checked) {
        count += 1;
    }
    else {
        count -= 1;
    }
    $("#chosenCounter").html("You have chosen " + count + " hour(s) so far <br><br>");
}

function clearCheckboxes() {
    $('input[type=checkbox]').each(function(i)
    {
        if (this.checked) {
            $(".btn-group label").eq(i).button('toggle');
        }
    });
}

function reserve(button) {
    console.log('rezerwuj');
    hours = [];
    $(".btn-group :checked").each(function() {
        hours.push(this.id.substring(10));
    });
    date = button.id.substring(7,17);
    room_id = button.id.substring(17);
    console.log('id: ' + button.id);
    console.log('hours: ' + hours);
    console.log('date: ' + date);
    console.log('room: ' + room_id);
    console.log('csrftoken: ' + csrftoken);

    var jqxhr = $.ajax(
                room_id + "/make_reservation",
                {
                type: "POST",
                data: {'hours': hours, 'room_id': room_id, 'date': date,
                'csrfmiddlewaretoken': csrftoken}

        })
        .done(function(data) {
            console.log( "success" );
            console.log('data: ' + data);
            console.log('data[0]: ' + data[0]);
            console.log('data["terms"]: ' + data["terms"]);


            parsed = JSON.parse(data);
            console.log('parsed: ' + parsed);
            parsedTerms = JSON.parse(parsed["terms"]);
            parsedRooms = JSON.parse(parsed["rooms"]);

            console.log('parsed["terms"]: ' + parsed["terms"]);
            console.log("parsedTerms: " + parsedTerms);

            console.log('parsedTerms[0]["pk"]: ' + parsedTerms[0]["pk"]);
            console.log('parsedTerms[0].pk: ' + parsedTerms[0].pk);
            console.log('parsedTerms[0]["fields"]["begin_time"]: ' + parsedTerms[0]["fields"]["begin_time"]);

            terms = [];
            for (var i = 0; i < parsedTerms.length; i++) {
                var item = parsedTerms[i];
                var t = new Term(item.pk, item.fields.date, item.fields.begin_time, item.fields.end_time);
                terms.push(t);
            }
            localStorage.removeItem('terms');
            localStorage.setItem('terms', JSON.stringify(terms));
            //console.log('terms: ' + terms);

            rooms = [];
            for (var i = 0; i < parsedRooms.length; i++) {
                var item = parsedRooms[i];
                var r = new Room(item.pk, item.fields.name, item.fields.capacity,
                        item.fields.description, item.fields.terms, item.fields.equipment_items, item.fields.boards);
                rooms.push(r);
            }
            localStorage.removeItem('rooms');
            localStorage.setItem('rooms', JSON.stringify(rooms));
            count = 0;
            alert("You have successfully reserved the room.");
            setModalContent(room_id);
            })
        .fail(function() {
            console.log( "error" );
            alert("We are sorry but it is impossible to make the reservation you wanted. Please, verify your internet connection.");
            })
        .always(function() {
            console.log( "complete" );
            });

}




</script>





</body>
</html>




