<!DOCTYPE html>
<html>
<head><title>{% block title %}Glowna</title>{% endblock%}</head>
<body>
{% block content %}
<ul>
    <li><a href="{% url 'a:index' %}">Index</a></li>
    <li><a href="{% url 'a:list' %}">List (czyli tu gdzie jestes na dobra sprawe)</a></li>
</ul>

{% endblock %}

<br><br>


    Moja lista pokoi razem z ich pojemnoscia:

    <br> Czemu to nie działa? DZIAŁA!!!!
    {% for room in queryset %}
        <li><a href="{% url 'a:detail' room.id %}">{{ room.name }}</a>{{room.capacity}} </li> <!--zamiast numeru id dac nazwe moze-->
    {% endfor %}






<!-- paginator-->

{% for room in queryset %}
    {# Each "contact" is a Contact model object. #}
    {{ room.full_name|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
















<form action="{% url 'a:list' %}" method="POST">
    {% csrf_token %} <!--pamietaj!!!-->
    <!--do wybierania rodzaju sortowania formularz-->
    <input type="text" name="order">
    <input type="submit" value="capacity_reversed">
<br><Br>
    <input type="text" name="keyword">
    <input type="submit" value="Wyszukaj">
</form>




<hr>
<a href="{% url 'a:index' %}">Wroc na strone startowa</a><br>
{% if messages %} <!--jesli jest wiadomosc, np. zle haslo przy logowaniu-->
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %} <!-- jesli user jest zalogowany-->
<p>{{ user.username }} <a href="{% url 'a:logout' %}">wyloguj</a></p>
{% else %}
<p><form action="{% url 'a:login' %}" method="POST">
    {% csrf_token %} <!--pamietaj!!!-->
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="Zaloguj sie !">
</form>
{% endif %}

</body>
</html>